<% content_for :title, "Editing blog" %>

<h1>Editing blog</h1>

<%# <%= render "form", blog: @blog %>

<% if current_user&.admin? %>
  <%= render "form", blog: @blog %>
<% else %>
  <%= flash[:alert] = "Only Admins can Edit this Blog Post" %>
<% end %>

<br>

<div>
  <%= link_to "Show this blog", @blog %> |
  <%= link_to "Back to blogs", blogs_path %>
</div>
